.form {
  top: 96.12px;
  gap: 23.29px;
  opacity: 0px;
}

.btn {
  background: #ff7d29;
  color: white;
  width: auto;
  height: Hug (64.76px) px;
  top: 338.52px;
  padding: 17.38px 46.58px 17.38px 46.58px;
  gap: 17.47px;
  border-radius: 62.6px 62.6px;
  opacity: 0px;
}
